@import "./base/mixins";
@import "./base/vars";

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 1.6rem;
  font-family: $font;
  background-color: $white;
  color: $black;
  @include flex(center, center);
}

#root {
  width: 100%;
  max-width: map-get($breakpoints, "desktop-wide");
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
