@import "./base/mixins";
@import "./base/vars";

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: $font;
  background-color: #fffafb;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}
