@import "./base/mixins";
@import "./base/vars";

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: $font;
  background-color: $white;
  color: $black;
  max-width: map-get($breakpoints, "desktop-wide");
  @include flex(center);
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

// ::-webkit-scrollbar {
//   width: 5px;
// }
