@use "../../styles/" as *;

.exercises {
  margin-bottom: 10rem;
  text-transform: capitalize;
  @include flex(center, center, column);

  &__errorCard {
    font-weight: bold;
    color: $gray;
    @include flex(center, center, column, 2rem);

    img {
      width: 200px;
    }
  }

  &__title {
    text-align: center;
    margin: 1rem 0 3rem;
  }

  &__results {
    @include flex(center, center, false, 2rem);
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  &__navigation {
    @include flex(center, center, false, 2rem);
    font-family: $font2;
  }
}
