@use "../../styles" as *;

.navbar {
  @include flex(false, center);
  padding: 2rem 4rem;

  &__ul {
    list-style-type: none;
    margin-left: 20%;
    padding: 0;
    @include spacing(4rem);
    font-size: 2.4rem;
    font-weight: 600;

    li {
      padding: 0.5rem;
      &:first-child {
        border-bottom: 2px solid $red-500;
      }
    }

    a {
      color: $black;
    }
  }
}
