@use "../../styles/" as *;

.similarExercises {
  text-align: center;
  margin: 8rem;

  &__exercises {
    margin-top: 5rem;
    @include flex(center, center, false, 2rem);
    flex-wrap: wrap;
  }
}
