@use "../../styles/" as *;

.sb {
  margin: 1rem 5% 0;
  height: max-content;
  @include flex(space-between, center);

  &__legend {
    transform: translateY(-10rem);
  }

  &__h3 {
    font-size: 2.6rem;
    color: $red-500;
    font-weight: 600;
  }

  &__title {
    font-size: 4.4rem;
    margin: 2.5rem 0;
    line-height: 1.5;
  }

  &__description {
    font-size: 1.8rem;
  }

  &__btn {
    margin-top: 2.5rem;
    border: none;
    background-color: transparent;
    a {
      background-color: $red-500;
      display: block;
      padding: 2rem;
      width: 100%;
      height: 100%;

      font-family: $font2;
      font-size: 2rem;
      font-weight: 600;
      color: $white;
      border-radius: $radius;

      @include btn_effect;
    }
  }

  &__right {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__img {
    position: relative;
    z-index: -10;
    top: 0;
    left: 0;
    transform: translateY(-96px);
  }

  &__bgStm {
    position: absolute;
    left: -40%;
    bottom: 10rem;

    font-weight: 700;
    line-height: 1;
    font-size: 20rem;
    color: $red-500;
    opacity: 0.1;
  }

  @media screen and (max-width: 1000px) {
    & {
      justify-content: center;
    }

    &__legend {
      transform: translateY(0);
      text-align: center;
      margin-bottom: 9rem;
    }

    &__right {
      display: none;
    }

    &__bgStm {
      font-size: 10rem;
    }
  }
}
