@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Raleway:wght@200;300;600;700;800&display=swap");

$font: "Raleway", sans-serif;
$font2: "Montserrat", sans-serif;

$radius: 8px;

$red-500: #ff2625;
$white: #fffafb;
$gray: #a2a2a2;
$black: #232323;
$yellow: #ffdf89;
$blue: #89a9ff;

$alpha-1: rgba(0, 0, 0, 0.1);
$alpha-2: rgba(0, 0, 0, 0.2);

$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px,
);

$ttf: cubic-bezier(0.65, -0.17, 0.12, 1.18); /*Transition timing function*/

// Speed of animations
$x1: 100ms;
$x2: 200ms;
$x3: 300ms;
